* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

header {
    width: 100vw;
    height: 48px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: #343a40;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: calc(100vh - 48px);
    width: 200px;
    background-color: #f8f9fa;
    color: #212529;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 10px 25px;
}

.nav-item {
    color: #212529;
    text-decoration: none;
}

main {
    width: calc(100vw - 200px);
    padding: 50px;
}

table {
    border: 1px solid #212529;
}

table thead {
    background-color: #212529;
    color: #f8f9fa;
    font-weight: bold;
}

table tbody td {
    border: 1px solid #212529;
}